@font-face {
  font-family: 'Danidin';
  src: url('https://daks2k3a4ib2z.cloudfront.net/56017790eded07813b226ca1/5601817a2148644336530fbe_Danidin-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Danidin';
  src: url('https://daks2k3a4ib2z.cloudfront.net/56017790eded07813b226ca1/5601817b5cd3a1833b58697c_Danidin-SemiBold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Danidin';
  src: url('https://daks2k3a4ib2z.cloudfront.net/56017790eded07813b226ca1/5601817a5cd3a1833b58697b_Danidin-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Eliphelet';
  src: url('https://s3-eu-west-1.amazonaws.com/fonts-3ca817baef5161359787bf87be75cf68/FbEliphelet-Black.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/*@font-face {*/
  /*font-family: 'Eliphelet';*/
  /*src: url('https://s3-eu-west-1.amazonaws.com/fonts-3ca817baef5161359787bf87be75cf68/FbEliphelet-Bold.otf') format('opentype');*/
  /*font-weight: 500;*/
  /*font-style: normal;*/
/*}*/

/*@font-face {*/
  /*font-family: 'Eliphelet';*/
  /*src: url('https://s3-eu-west-1.amazonaws.com/fonts-3ca817baef5161359787bf87be75cf68/FbEliphelet-Light.otf') format('opentype');*/
  /*font-weight: 600;*/
  /*font-style: normal;*/
/*}*/

/*@font-face {*/
  /*font-family: 'Eliphelet';*/
  /*src: url('https://s3-eu-west-1.amazonaws.com/fonts-3ca817baef5161359787bf87be75cf68/FbEliphelet-Medium.otf') format('opentype');*/
  /*font-weight: 800;*/
  /*font-style: normal;*/
/*}*/