<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Maayan and Yuval :)</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wedding.css') }}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
<!--    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
-->

    <header>
        <div class="header-content">
        </div>
    </header>

    <section class="container" id="happy">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">שמחים ונרגשים להזמינכם לחגוג עמנו</h2>
            </div>
        </div>
        <div class="row">
            <img src="{{url_for('static', filename='img/kav.png')}}" class="img-responsive center-block" alt="">
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading-english">Happy to invite you to celebrate with us</h2>
            </div>
        </div>
    </section>

    <section class="no-padding" id="date">
        <div class="container-fluid">
            <div class="row no-gutter">
                <img src="{{url_for('static', filename='img/text2.png')}}" class="img-responsive center-block" alt="">
            </div>
        </div>
    </section>

    <section class="no-padding" id="upside-down-wessing">
        <div class="row no-gutter">
            <img src="{{url_for('static', filename='img/upsidedown.png')}}" class="img-responsive center-block" alt="">
        </div>
    </section>

    <section class="container" id="timeline">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <h2 class="section-heading">15:00</h2>
                <h2 class="section-heading">רוקדים</h2>
                <h2 class="section-heading-english">Party</h2>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <h2 class="section-heading">14:30</h2>
                <h2 class="section-heading">מתחתנים</h2>
                <h2 class="section-heading-english">Ceremony</h2>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <h2 class="section-heading">12:00</h2>
                <h2 class="section-heading">אוכלים ונהנים</h2>
                <h2 class="section-heading-english">Lunch</h2>
            </div>
        </div>
        <div class="row">
            <img src="{{url_for('static', filename='img/kav.png')}}" class="img-responsive pull-right" alt="">
        </div>
    </section>

    <section class="container" id="bau">
        <div class="row">
            <div class="col-lg-8 col-md-16 text-center">
                <h2 class="section-heading">בית האירועים ״באו״, דרך מנחם בגין 148</h2>
                <div class="row">
                    <ul class="list-inline">
                        <li class="section-heading">חניה חופשית במקום</li>
                        <li class="fa fa-2x fa-star wow bounceIn"></li>
                        <li class="section-heading">תל אביב</li>
                    </ul>
                </div>
                <h2 class="section-heading-english">148 Derech Menachem Begin St., Tel Aviv</h2>
            </div>
            <div class="col-lg-4 col-md-8">
                <img src="{{url_for('static', filename='img/bau.png')}}" class="img-responsive center-block" alt="">
            </div>
        </div>
        <div class="row">
            <img src="{{url_for('static', filename='img/kav.png')}}" class="img-responsive pull-left" alt="">
        </div>
    </section>

    <section class="container" id="family">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">נשמח לראותכם,</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2 class="section-heading-english">Maayan, Yuval and our Families</h2>
            </div>
            <div class="col-lg-6">
                <h2 class="section-heading pull-right">מעיין, יובל והמשפחות</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2 class="section-heading">הורי החתן חביבה ומייק כרמל</h2>
            </div>
            <div class="col-lg-6">
                <h2 class="section-heading pull-right">הורי הכלה מיכל ואבי שפירא</h2>
            </div>
        </div>
        <div class="row">
            <img src="{{url_for('static', filename='img/kav.png')}}" class="img-responsive pull-right" alt="">
        </div>
    </section>
    <section class="container" id="rsvp">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">מגיעים?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading-english">RSVP</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">אנא אשרו הגעה</h3>
            </div>
        </div>
    </section>

    <section class="container" id="form">
        <form role="form">
            <fieldset class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Name">
            </fieldset>
            <fieldset class="form-group">
                <input type="number" class="form-control" id="phone" placeholder="Phone">
            </fieldset>
            <fieldset class="form-group">
                <input type="number" class="form-control" id="guests" placeholder="No. of Guests">
            </fieldset>
            <button type="submit" class="btn btn-default btn-xl wow tada center-block">Submit</button>
        </form>
    </section>

    <section class="container">
        <div id="map-container" class="col-md-12">
        </div>
    </section>

    <section class="container">
        <div class="row no-gutter">
            <a href="waze://?ll=32.0787429,34.7948063&z=6&navigate=true" target="_blank" class="btn btn-default btn-xl wow tada center-block">Open in Waze</a>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/jquery.fittext.js') }}"></script>
    <script src="{{url_for('static', filename='js/wow.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{url_for('static', filename='js/creative.js') }}"></script>

    <!-- Google map -->
    <script src="{{url_for('static', filename='js/googlemaps.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/map.js') }}"></script>

</body>

</html>
